# version control directories
.git/

# build artifacts/
# dependency caches

# docker files
*Dockerfile*
*docker-compose*

# sensitive files
.env
*.pem
*.key

# development tools and configuration
.vscode/

# unnecessary files

# operating system files
.DS_Store
